html {
  box-sizing: border-box;
}

body {

  width: 80%;
  margin: 1em auto;

  font: 14pt sans-serif;
  padding: 0.5em;

}

header {
  text-align: center;
  font-size: 2em;
}

#cabecera {
  display: flex;
  gap: 1em;
  align-items: center;
  border: 1px solid black;
}

#cabecera form {
  justify-self:flex-end;
}
